<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Comment">
    <select id="commentList"
            resultType="com.green.vo.CommentVo">
        SELECT
            _id,
            username,
            time,
            content
        FROM
            comment_tb
        WHERE
            content_id

    </select>

    <insert id="commentWrite"
            parameterType="com.green.vo.CommentVo">
        INSERT INTO  comment_tb( _id, content_id, username, , content, time)
        VALUES (#{_id}, #{content}, #{username}, #{content_id},  #{time})
    </insert>

    <insert id="commentUpdate"
            parameterType="com.green.vo.CommentVo">
        UPDATE comment_tb
        SET content, #{content}
        Where    username = #{username}
             AND _id      = #{_id}
    </insert>


    <delete id="commentDelete">
        DELETE FROM comment_tb
        WHERE _id  = #{_id}

    </delete>

</mapper>
