<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LeaveUser">

    <insert id="insertLeaveUser"
            parameterType="com.green.vo.UserVo">
        INSERT INTO leave_user_tb (_id, username, userpassword, usernickname, useremail, usersido, usergugun, userpet)
        VALUES                    (#{_id}, #{username}, #{userpassword}, #{usernickname}, #{useremail}, #{usersido}, #{usergugun}, #{userpet})

    </insert>






</mapper>